parameters:
    level: 7
    paths:
        - src
        - tests
        - example
    excludePaths:
        - example/sync-message/provider/vendor/
        - example/sync-message/library
        - example/sync-message/consumer/src/CalculatorClient.php
        - example/async-message/library
        - example/async-message/provider/public
