<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Sync Message Example Consumer">
            <directory>./example/sync-message/consumer/tests/Contract</directory>
        </testsuite>
        <testsuite name="Sync Message Example Provider">
            <directory>./example/sync-message/provider/tests/Contract</directory>
        </testsuite>
        <testsuite name="Async Message Example Consumer">
            <directory>./example/async-message/consumer/tests/Contract</directory>
        </testsuite>
        <testsuite name="Async Message Example Provider">
            <directory>./example/async-message/provider/tests/Contract</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <report>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>
</phpunit>
